<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">
    <Properties>
        <Property name="LOG_PATTERN">
            %d{yyyy-MM-dd HH:mm:ss.SSS} %5p ${hostName} --- [%15.15t] %-40.40c{1.} : %m%n%ex
        </Property>
    </Properties>
    <CustomLevels>
        <CustomLevel name="DIAG" intLevel="350" />
        <CustomLevel name="BAD" intLevel="380" />
    </CustomLevels>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>
        <!-- Rolling File Appender -->
        <RollingFile name="SearchQuery" fileName="logs/search.log"
                     filePattern="logs/search-%d{yyyy-MM-dd}-%i.log">
            <ThresholdFilter level="WARN" onMatch="DENY" onMismatch="ACCEPT"/>
            <PatternLayout>
                <Pattern>${LOG_PATTERN}</Pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="10MB" />
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>

        <RollingFile name="BadQuery" fileName="logs/bad.log"
                     filePattern="logs/bad-%d{yyyy-MM-dd}-%i.log">
            <ThresholdFilter level="DIAG" onMatch="DENY" onMismatch="ACCEPT"/>
            <PatternLayout>
                <Pattern>${LOG_PATTERN}</Pattern>
            </PatternLayout>
            <Policies>
                <SizeBasedTriggeringPolicy size="10MB" />
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>

    </Appenders>
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="SearchQuery" level="DIAG"/>
            <AppenderRef ref="BadQuery" level="BAD"/>
        </Root>
    </Loggers>

</Configuration>